* {
  box-sizing: border-box;
}

/*Hero Start*/
.paws-hero {
  height: 90vh;
}

.hero-background {
  height: 100%;
  background-image: url("./images/angel.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 20%;
}

.hero-text {
  text-align: center;
}

.hero-text h1 {
  font-size: 5rem;
}

.hero-text h2 {
  font-size: 3rem;
}
/*Hero End*/

/*Grounds Start*/
.paws-grounds {
  height: 90vh;
}

.grounds-background {
  background-image: url("./images/grounds1.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
/*Grounds End*/

.paws-proposition {
  color: white;
  background-color: black;
}

/*Grooming Styling*/

.grooming-header {
  height: 90vh;
}

.grooming-background {
  height: 100%;
  background-image: url(./images/cemetaryEntrance.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 20%;
}

.grooming-header--text > h1 {
  font-size: 5rem;
}

.grooming-info-container {
  background-color: rgb(233, 205, 171);
}

.grooming-info--header-text {
  font-size: 4rem;
}

.grooming-info--paragraph-container > p {
  font-size: 1.3rem;
}

.grooming-services-container {
  background-color: rgb(233, 205, 171);
  gap: 40px;
}

.grooming-services--header-text {
  font-size: 4rem;
}

.services-container {
  gap: 50px;
}

.services-container--one,
.services-container--two {
  font-size: 1.3rem;
  font-weight: 300;
}

.picture-container > img {
  width: 500px;
  height: 300px;
}

a {
  color: inherit;
  text-decoration: none;
}

.proposition-container {
  background-color: rgb(233, 205, 171);
}

/*Contact Styling*/
.contact-container {
  background-color: tan;
  height: 100vh;
}
