* {
  box-sizing: border-box;
}

/*Hero Start*/
.paws-hero {
  height: 90vh;
}

.hero-background {
  height: 100%;
  background-image: url("./images/angel.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 20%;
}

.hero-text {
  text-align: center;
}

.hero-text h1 {
  font-size: 5rem;
}

.hero-text h2 {
  font-size: 3rem;
}
/*Hero End*/

/*Grounds Start*/
.paws-grounds {
  height: 90vh;
}

.grounds-background {
  background-image: url("./images/grounds1.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
