* {
  box-sizing: border-box;
}

.arrow {
  cursor: pointer;
  height: 30px;
  width: 30px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.left-arrow {
  transform: rotate(135deg);
}

.right-arrow {
  transform: rotate(-45deg);
}

body {
  font-family: "Inter" Arial, Helvetica, sans-serif !important;
  background-color: #ff757d;
}

/*Header Start*/

header {
  opacity: 0.9;
  background-color: #ff757d;
}

header a {
  font-size: 1.5rem;
}

header a:hover {
  color: #004812;
}
header img {
  height: 50px;
}

@media screen and (max-width: 600px) {
  header a {
    font-size: 1rem;
  }
}
/*Header End*/

/*Hero Start*/
.paws-hero {
  height: 90vh;
}

.hero-background {
  height: 100%;
  background-image: url("./images/angel.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 20%;
}

.hero-text {
  text-align: center;
}

.hero-text h1 {
  font-size: 5rem;
}

.hero-text h2 {
  font-size: 3rem;
}

@media screen and (max-width: 600px) {
  .hero-text h1 {
    font-size: 3rem;
  }
  .hero-text h2 {
    font-size: 2rem;
  }
}
/*Hero End*/

/*Paws About Start*/
.paws-about-content {
  gap: 30px;
}
.paws-about-text {
  max-width: 700px;
}

@media screen and (max-width: 600px) {
  .paws-about img {
    max-width: 100% !important;
  }
}
/*Paws About End*/

/*Grounds Start*/
.paws-grounds {
  background-color: #ff757d !important;
}

.grounds-background {
  background-color: #ff757d;
}

.grounds-content img {
  width: 50%;
}

@media screen and (max-width: 600px) {
  .paws-grounds img {
    width: 100%;
  }
}

/*Grounds End*/

/*Memorial Start*/
.k9-memorial iframe {
  max-width: 90%;
}
/*Memorial End*/

/*Testimonial Start*/

.paws-testimonials {
  background-color: #db4f57;
}
.testimonial-container {
  gap: 20px;
}

.testimonial {
  max-width: 600px;
}
/*Testimonial End*/

/*Location Start*/
.paws-location iframe {
  max-width: 500px;
}
/*Location End*/

/*Joe About Start*/
.about-joe-content {
  gap: 30px;
}
.about-joe-content img {
  width: 50%;
}

@media screen and (max-width: 600px) {
  .about-joe-content img {
    width: 100%;
  }
}
/*Joe About End*/

/*Proposition Start*/
.paws-proposition {
  color: white;
  background-color: #8f252b;
}
/*Proposition End*/

/*Footer Start*/
footer {
  background-color: black;
}
/*Footer End*/

/*Grooming Styling*/

.grooming-header {
  height: 90vh;
}

.grooming-background {
  height: 100%;
  background-image: url(./images/cemetaryEntrance.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 20%;
}

.grooming-header--text > h1 {
  font-size: 5rem;
}

.grooming-info-container {
  background-color: rgb(233, 205, 171);
}

.grooming-info--header-text {
  font-size: 4rem;
}

.grooming-info--paragraph-container > p {
  font-size: 1.3rem;
}

.grooming-services-container {
  background-color: rgb(233, 205, 171);
  gap: 40px;
}

.grooming-services--header-text {
  font-size: 4rem;
}

.services-container {
  gap: 50px;
}

.services-container--one,
.services-container--two {
  font-size: 1.3rem;
  font-weight: 300;
}

.picture-container > img {
  width: 500px;
  height: 300px;
}

a {
  color: inherit;
  text-decoration: none;
}

.proposition-container {
  background-color: rgb(233, 205, 171);
}

/*Contact Styling*/
.contact-container {
  background-color: tan;
  height: 100vh;
}
